@using Resources
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title | @Resource.AppName</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/select2")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.css" />
    @Styles.Render("~/Content/custom")
</head>
<body>
    @{
        string controller = ViewContext.RouteData.GetRequiredString("controller").ToLower();
        string action = ViewContext.RouteData.GetRequiredString("action").ToLower();
        string currentLink = $"/{controller}/{action}";
    }
    <div class="container">
        <header class="row">
            <div id="brand" class="col-12 col-lg-7">
                <a href="/" class="navbar-brand">
                    <img src="~/Images/logo.jpg" alt="Logo" id="logo" class="d-none d-sm-inline">
                    <span id="brand_name">@Resource.AppName</span>
                </a>
            </div>
            <div id="horizontal_menu" class="col-12 col-lg-5 row">
                <a href="#" class="col-7">@Resource.Account</a>
                <a href="#" class="col-5">@Resource.LogOut</a>
            </div>
        </header>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <button class="btn btn-outline-primary m-auto navbar-toggler d-lg-none d-block" id="btn_menu"
                    data-toggle="collapse" data-target="#nav_bar" aria-controls="nav_bar_box" aria-expanded="false"
                    aria-label="Toggle navigation">
                @Resource.Menu
            </button>
            <nav class="col-lg-2 navbar-collapse collapse expand-lg" id="nav_bar">
                <a href="/" class="nav_option @(currentLink=="/home/index"?"current_item":"")">@Resource.HomePage</a>
                <div class="nav_group">
                    <p class="nav_group_name">@Resource.Add</p>
                    <a href="/student/create" class="nav_option @(currentLink=="/student/create"?"current_item":"")">
                        @Resource.Student
                    </a>
                    <a href="/class/create" class="nav_option @(currentLink=="/class/create"?"current_item":"")">
                        @Resource.ClassLong
                    </a>
                    <a href="/subject/create" class="nav_option @(currentLink=="/subject/create"?"current_item":"")">
                        @Resource.Subject
                    </a>
                </div>
                <div class="nav_group">
                    <p class="nav_group_name">@Resource.List</p>
                    <a href="/student/index" class="nav_option @(currentLink=="/student/index"?"current_item":"")">
                        @Resource.Student
                    </a>
                    <a href="/class/index" class="nav_option @(currentLink=="/class/index"?"current_item":"")">
                        @Resource.ClassLong
                    </a>
                    <a href="/subject/index" class="nav_option @(currentLink=="/subject/index"?"current_item":"")">
                        @Resource.Subject
                    </a>
                </div>
                <div class="nav_group">
                    <p class="nav_group_name">@Resource.Transcript</p>
                    <a href="/transcript/index" class="nav_option
                       @((currentLink=="/transcript/index" || currentLink=="/transcript/detail")?"current_item":"")">
                        @Resource.UpdateTranscript
                    </a>
                    <a href="/transcript/search" class="nav_option
                       @(currentLink=="/transcript/search"?"current_item":"")">
                        @Resource.SearchTranscript
                    </a>
                </div>
                <div class="nav_group">
                    <p class="nav_group_name">@Resource.Report</p>
                    <a href="/report/subject" class="nav_option @(currentLink=="/report/subject"?"current_item":"")">
                        @Resource.ReportSubject
                    </a>
                    <a href="/report/semester" class="nav_option @(currentLink=="/report/semester"?"current_item":"")">
                        @Resource.ReportSemester
                    </a>
                </div>
                <div class="nav_group">
                    <p class="nav_group_name">@Resource.Setting</p>
                    <a href="/rule/index" class="nav_option @(currentLink=="/rule/index"?"current_item":"")">
                        @Resource.Rule
                    </a>
                    <a href="/setting/culture" class="nav_option @(currentLink=="/setting/culture"?"current_item":"")">
                        @Resource.Language
                    </a>
                </div>
            </nav>
            <!--    Content here -->
            @RenderBody()
            <!--    End of Content  -->
        </div>
    </div>
    <hr>
    <div class="container">
        <footer>
            <p>&#169; @Resource.DevelopeByHelloVanDuc </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/select2")
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>
    <script>
        let culture = "@CultureHelper.GetCurrentNeutralCulture()";
    </script>
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>

</html>