@model Services.DTO.CreateTranscriptDTO
@using Resources
@using Services.DTO
<div class="col-lg-8 content">
    <p class="page_title">@Resource.CreateTranscript</p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            @Html.LabelFor(model => model.ClassName, htmlAttributes: new { @class = "required" })
            @Html.DropDownListFor(model => model.ClassName, Model.AllClasses, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClassName, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(model => model.SubjectId, htmlAttributes: new { @class = "required" })
            @Html.DropDownListFor(model => model.SubjectId, Model.AllSubjects, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SubjectId, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(model => model.Semester, htmlAttributes: new { @class = "required" })
            @Html.DropDownListFor(model => model.Semester, Model.AllSemesters, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Semester, "", new { @class = "text-danger" })
        </div>
        @Html.HiddenFor(model => model.EditMode)
        @Html.HiddenFor(model => model.Version)
        <br>
        <a class="btn btn-secondary" data-toggle="modal" href="#cancelModal">@Resource.Cancel</a>
        <button type="submit" class="btn btn-primary">@Resource.Done</button>
    }

    @Html.Partial("_CancelModal", new ViewDataDictionary {
        { "RedirectLink", "/transcript/index"}
    })
</div>