@model IList<SearchTranscriptDTO>
@using Resources
@using Services.DTO 
<div class="col-lg-10 content">
    <p class="page_title">@Resource.SearchTranscript</p>
    <div class="table-responsive">
        <table class="data_table table-striped table-bordered">
            <thead>
            <th>@Resource.StudentId</th>
            <th>@Resource.StudentName</th>
            <th>@Resource.FirstSemesterAverageScore</th>
            <th>@Resource.SecondSemesterAverageScore</th>
            </thead>
            <tbody>
                @foreach (SearchTranscriptDTO searchTranscriptDTO in Model)
                {
                    <tr>
                        <td>@searchTranscriptDTO.StudentId</td>
                        <td>@searchTranscriptDTO.StudentName</td>
                        <td>@searchTranscriptDTO.FirstSemesterAverageScore</td>
                        <td>@searchTranscriptDTO.SecondSemesterAverageScore</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
