@model IList<Services.DTO.IndexStudentDTO>
@using Services.DTO
@using Resources
@using System.Globalization

<div class="col-lg-10 content">
    <p class="page_title">Danh sách học sinh</p>
    <div class="table-responsive">
        <table class="data_table table-striped table-bordered">
            <thead>
            <th>@Resource.StudentId</th>
            <th>@Resource.StudentName</th>
            <th>@Resource.Gender</th>
            <th>@Resource.BirthDate</th>
            <th>@Resource.Email</th>
            <th>@Resource.Address</th>
            <th></th>
            </thead>
            <tbody>
                @foreach (IndexStudentDTO student in Model)
                {
                    <tr>
                        <td>@student.StudentId</td>
                        <td>@student.Name</td>
                        <td>@student.Gender</td>
                        <td>@student.BirthDate.ToString(new CultureInfo("vi-VN").DateTimeFormat.ShortDatePattern)</td>
                        <td>@student.Email</td>
                        <td>@student.Address</td>
                        <td>
                            <a data-toggle="modal" data-id="@student.StudentId" href="#deleteModal">@Resource.Delete</a>
                            <a href="/student/edit/@student.StudentId">@Resource.Update</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("_DeleteModal", new ViewDataDictionary {
        { "Action", "/student/delete"},
        { "ObjectName", Resource.Student},
        { "ObjectIdName", Resource.StudentId }
    })
</div>